
.ipynb_checkpoints/Untitled-checkpoint.ipynb
demo-venv/etc/jupyter/nbconfig/notebook.d/widgetsnbextension.json
*.pyc
\demo-venv
\scripts\__pycache__
.\.venv
.\__pycache__
Untitled.ipynb
Procfile
config.py
setup.sh
train_model.py
update_model_config.py
web_app.py