Cython==3.0.2
omegaconf==2.3.0
lightning==2.4.0
git+https://github.com/NVIDIA/NeMo.git@main#egg=nemo_toolkit[all]
wget
sox
text-unidecode
matplotlib>=3.3.2
scikit-learn
pydub
datasets[audio]==3.6.0 
transformers==4.51.3 
accelerate==1.6.0 
evaluate==0.4.3 
jiwer==3.1.0 
tensorboard==2.19.0 
gradio==5.29.0